<p>Hello {{username}},</p>
<p>Welcome to Beauty Hunt!</p>

<p>To confirm you account please click on this link: 
	<a href={{confirmLink}} > Confirm </a>
</p>

<p>You can then start using Beauty hunt right away!<p>