@mixin content($color-1, $color-2, $color-3) {
  .navbar {
    border-radius: 0px;
    margin-bottom: 0;
    width: 100%;
    color: #fff;
    background-color: $color-2;

    .navbar-toggle > span.icon-bar {
      background-color: #fff;
    }

    #navbar-collapse-1 {
      background-color: $color-2;

      li.dropdown {

        &.style-dropdown-margin {
          margin-top: 7px;
        }

        a:focus, a:hover {
          background-color: $color-2;
        }

        a.dropdown-toggle {
          color: #fff;
        }
      }

      li.nav-link > a {
        color: #fff;

        &:focus, &:hover {
          background-color: $color-2;
        }
      }
    }

    .nav-link {
      margin-right: 10px;
      margin-top: 10px;

      &.not-logged-in {
        margin-top: 7px;
      }
    }

    #logo {
      margin-top: 20px;
      margin-left: 10px;

      &.logo-margin {
        margin-top: 15px;
      }

      a {
        color: #fff;
        
        &:hover {
          color: #fff;
        }
      }
    }
  }

  #main-nav-dropdown {
    z-index: 3;
  }

  #main-content {
    margin-top: 70;
  }

  .center {
    text-align: center;
  }

  .fixed-nav {
    position: fixed;
    width: 100%;
    z-index: 3;
    padding: 0;
  }

  #facebook-nav {
    margin: 15px 10px;
  }

  @media (max-width: 767px) {
    .navbar {
      #navbar-collapse-1 {
        background-color: #fff;

        li.dropdown {

          a.dropdown-toggle {
            color: $color-2;
          }
        }

        li.nav-link > a {
          color: $color-2;
        }
      }
    }
  }
}

//default (no theme): 
//color-1: black, 
//color-2: black, 
//color-3: grey
#main-container {
  @include content(#000, #000, #999);
}

//cupcake theme: 
//color-1: light purple, 
//color-2: pink, 
//color-3: turqoise (greenish blue), 
//color-4: light yellow
#main-container.theme-1 {
  @include content(#8C86F3, #EA91EE, #91EED4);
}

//boat theme: 
//color-1: navy blue, 
//color-2: red, 
//color-3: turqoise (greenish blue)
#main-container.theme-2 {
  @include content(#031927, #BA1200, #9DD1F1);
}

//blue theme: 
//color-1: medium blue, 
//color-2: medium blue, 
//color-3: light grey
#main-container.theme-3 {
  @include content(#FF01FB, #02A9EA, #FAFF00);
}

//peach theme: 
//color-1: dark blue, 
//color-2: bright pink, 
//color-3: bright orangeish pink
#main-container.theme-4 {
  @include content(#1B065E, #FF47DA, #FF87AB);
}

//forest theme: 
//color-1: dark blue, 
//color-2: bright pink, 
//color-3: bright orangeish pink
#main-container.theme-5 {
  @include content(#4A766A, #75A497, #DEBFA2);
}

//60s theme: 
//color-1: dark blue, 
//color-2: bright pink, 
//color-3: bright orangeish pink
#main-container.theme-6 {
  @include content(#8C5E58, #FFA69E, #A9F0D1);
}






