.navbar {
  border-radius: 0px;
  margin-bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #5B4181;

  .navbar-toggle > span.icon-bar {
    background-color: #fff;
  }

  #navbar-collapse-1 {
    background-color: #5B4181;

    li.dropdown {

      a:focus, a:hover {
        background-color: #5B4181;
      }

      a.dropdown-toggle {
        color: #fff;
      }
    }

    li.nav-link > a {
      color: #fff;

      &:focus, &:hover {
        background-color: #5B4181;
      }
    }
  }

  .nav-link {
  	margin-right: 10px;
  	margin-top: 10px;
  }

  #logo {
    margin-top: 20px;
    margin-left: 10px;

    a {
      color: #fff;
      
      &:hover {
        color: #fff;
      }
    }
  }
}

#main-nav-dropdown {
  z-index: 3;
}

#main-content {
  margin-top: 70;
}

.center {
  text-align: center;
}

.fixed-nav {
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 0;
}

#facebook-nav {
  margin: 15px 10px;
}

@media (max-width: 767px) {
  .navbar {
    #navbar-collapse-1 {
      background-color: #fff;

      li.dropdown {

        a.dropdown-toggle {
          color: #5B4181;
        }
      }

      li.nav-link > a {
        color: #5B4181;
      }
    }
  }
}